backup-workflows-to-gh-.json
{
  "updatedAt": "2026-03-01T19:30:41.299Z",
  "createdAt": "2026-03-01T19:00:15.179Z",
  "id": "2Z393AzsxG37eynD",
  "name": "Backup Workflows to GH",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "c8d70105-d568-47c9-ac38-8e50da39faa7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        320,
        144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e9b5964f-e9d8-4e0b-a651-e2114a487677",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        800,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ySs1KBB2z2G9aSFK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "4274d6d0-c358-4f17-be9e-e42b7239e0cc",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        640,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "singmanjot",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backups",
          "mode": "list",
          "cachedResultName": "n8n_backups",
          "cachedResultUrl": "https://github.com/SingManjot/n8n_backups"
        },
        "filePath": "="
      },
      "id": "0c0082be-e489-4469-b012-201c3c915411",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        480,
        144
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "RC605RYnbhJTloih",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "singmanjot",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backups",
          "mode": "list",
          "cachedResultName": "n8n_backups",
          "cachedResultUrl": "https://github.com/SingManjot/n8n_backups"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "be4faf2d-e49c-41a4-a508-ba2df6a4d0c5",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        64
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "RC605RYnbhJTloih",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "singmanjot",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backups",
          "mode": "list",
          "cachedResultName": "n8n_backups",
          "cachedResultUrl": "https://github.com/SingManjot/n8n_backups"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "ba8b3fc6-7ea1-44ce-93fa-f520090cd8c4",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        224
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "RC605RYnbhJTloih",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "36ae15a1-e856-428b-8e82-5568ebb24838",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1440,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "bf5e586a-8c95-4113-8a73-8e92af89426e",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        960,
        144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "318bce71-c21a-40ac-b286-0ff3e471f6b6",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1120,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "7b6b3f55-44e7-4a9f-b4a4-4284fcd09097",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "8747c5de-c1fe-400e-87a0-d4e975df9156",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1280,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "be96eb4c-1e57-4679-99a4-c2d9ed33d87c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "561c4bf8-0da2-4696-8fb5-5cc9557268ea",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aabbaacc-1120-42ad-928b-03934073e8de",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-01T19:00:15.182Z",
      "createdAt": "2026-03-01T19:00:15.182Z",
      "role": "workflow:owner",
      "workflowId": "2Z393AzsxG37eynD",
      "projectId": "a2ue7y8O1L291ku7"
    }
  ],
  "activeVersion": null,
  "tags": []
}