news-chatbot-.json
{
  "updatedAt": "2026-03-03T18:54:12.118Z",
  "createdAt": "2026-03-03T15:06:00.764Z",
  "id": "XWAa0eFoZoeXWJeQ",
  "name": "News Chatbot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "8340714f-d7b4-4bd7-ba51-1ab736c21eb1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/latest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "country",
              "value": "in"
            },
            {
              "name": "domainurl",
              "value": "thehindu.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        0
      ],
      "id": "20324a1a-4b17-4ec1-a4a3-28a2f9c4ce79",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnK2iv08gQSxkB9W",
          "name": "NEWSDATA"
        },
        "httpQueryAuth": {
          "id": "ekvko4cS48UQSsRV",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a new ai agent, use these articles to summarize the news in a clear and consize was: {{ $json.results }}",
        "options": {
          "systemMessage": "# DEFINITION\nYou are a news chatbot. Your task is to summarize the news as accurately and as clearly as possible\n\n# BEHAVIOUR\nSummarize the different articales of news and generate a strucutred message to pass on to a telegram chat. Make it as meaningful as possible\nMake sure to give the article links when you can. Also since it is a telegram message, don't use any markdown syntax",
          "batching": {
            "batchSize": 4
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "ffb245d8-df4a-4b77-8d55-f9e8ac1de30a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        192
      ],
      "id": "5dda98f5-8739-4980-baf9-b50631a992bd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2SwqjAvqX3tREXdu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4aec471-201c-44d2-955c-ef27f472cd74",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "34486ab9-fcb2-4547-b5cd-c664011ce7e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Getting the data and processing",
        "height": 480,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -112
      ],
      "typeVersion": 1,
      "id": "731466db-7240-4ebd-99ba-598f8d4f6627",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Text generation",
        "height": 480,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -112
      ],
      "typeVersion": 1,
      "id": "ce2403d4-3d7c-4dff-9217-d395bb6df728",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Post data in chat",
        "height": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -112
      ],
      "typeVersion": 1,
      "id": "f4008117-d5b9-4985-b663-4e2a6df0fb0d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "5641924507",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "4410a569-d3cf-4270-bb65-caf74ac0235d",
      "name": "Send a text message",
      "webhookId": "09d63b33-91c3-42c5-bd99-6dd0d3444a7b",
      "credentials": {
        "telegramApi": {
          "id": "NqZGivE9hgenWLSy",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "status": "success",
          "totalResults": 588,
          "results": [
            {
              "article_id": "8236cc7ea0313f745d8326de0a14ee8c",
              "link": "https://www.thehindu.com/news/national/west-indies-cricket-team-stranded-in-india-due-to-international-airspace-restrictions/article70698065.ece",
              "title": "West Indies cricket team stranded in India due to international airspace restrictions",
              "description": "\"Cricket West Indies [CWI] wishes to advise that the departure of the West Indies Senior Men's Team from India, following their exit from the ICC Men's T20 World Cup, has been delayed due to international airspace restrictions,\" says the board statement",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "india"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "sports",
                "top"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:24:49",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:47",
              "image_url": "https://th-i.thgim.com/public/incoming/815c36/article70698079.ece/alternates/LANDSCAPE_1200/2026-03-01T173348Z_1530508989_UP1EM311CSBRI_RTRMADP_3_CRICKET-T20-WORLDCUP-IND-WIN.JPG",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": false
            },
            {
              "article_id": "19a26fad11a5be2266de71f11e379e53",
              "link": "https://www.thehindu.com/business/oil-rises-as-expanding-us-israeli-conflict-with-iran-elevates-supply-risks/article70698036.ece",
              "title": "Oil rises as expanding U.S.-Israeli conflict with Iran elevates supply risks",
              "description": "Concerns about transiting the waterway increased after Iranian media reported on Monday ​(March 2, 2026) that a senior Iranian Revolutionary Guards official said the Strait of Hormuz is closed and warned Iran will fire on any ship trying ⁠to pass",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "business"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "politics",
                "top"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:21:26",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:44",
              "image_url": "https://th-i.thgim.com/public/incoming/9b74c4/article70698061.ece/alternates/LANDSCAPE_1200/2026-03-02T231744Z_992362881_RC2MWJAUF83I_RTRMADP_3_IRAN-CRISIS-OIL-INDIA.JPG",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": false
            },
            {
              "article_id": "079fc54cf9549805a12a56ee0263237f",
              "link": "https://www.thehindu.com/news/national/karnataka/road-rage-one-dead-two-injured-after-motorist-drives-into-trio-who-told-him-to-slow-down-in-karnataka-village/article70698011.ece",
              "title": "Road rage: One dead, two injured after motorist rams into trio who told him to slow down in Karnataka village",
              "description": "The driver allegedly drove the vehicle at the trio",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "karnataka"
              ],
              "creator": [
                "the hindu bureau"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "top",
                "crime"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:20:39",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:38",
              "image_url": "https://th-i.thgim.com/public/incoming/x5lt28/article70698087.ece/alternates/LANDSCAPE_1200/29kimpp01_MVD_Gki30road.jpg.jpg",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": false
            },
            {
              "article_id": "c224585c8494e689f0f62dff3d9c702c",
              "link": "https://www.thehindu.com/videos/watch-marco-rubio-us-not-currently-postured-for-ground-forces-in-iran/article70698072.ece",
              "title": "Watch | Marco Rubio: U.S. not currently postured for ground forces in Iran",
              "description": "U.S. Secretary of State Marco Rubio said the United States is not currently postured to deploy ground forces in Iran, though President Donald Trump retains that option.",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "videos"
              ],
              "creator": [
                "the hindu bureau"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "politics",
                "top"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:09:24",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:40",
              "image_url": "https://th-i.thgim.com/public/incoming/8g43ja/article70698069.ece/alternates/LANDSCAPE_1200/News%20Video%20Thumbs%202026%201.png",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": false
            },
            {
              "article_id": "035c01360111589401a91e6d66272da2",
              "link": "https://www.thehindu.com/brandhub/pr-release/smu-and-fudan-launch-regions-first-tech-focused-dba/article70695306.ece",
              "title": "SMU and Fudan Launch Region’s First Tech-Focused DBA",
              "description": "SMU and Fudan Launch Region's First Tech-Focused DBA",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "pr release"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "technology",
                "top"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:06:16",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:36",
              "image_url": "https://th-i.thgim.com/public/incoming/leoocv/article70695398.ece/alternates/LANDSCAPE_1200/Singapore_Management_University_Logo%201.jpg",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": true
            },
            {
              "article_id": "1b05369ab2b6f98c2e453299e9ab89c3",
              "link": "https://www.thehindu.com/brandhub/pr-release/ray-of-hope-for-end-stage-liver-patients-manipal-hospital-bhubaneswar-sets-new-benchmarks-in-liver-transplant/article70695118.ece",
              "title": "Ray of Hope for End-Stage Liver Patients: Manipal Hospital Bhubaneswar Sets New Benchmarks in Liver Transplant",
              "description": "Ray of Hope for End-Stage Liver Patients: Manipal Hospital Bhubaneswar Sets New Benchmarks in Liver Transplant",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "pr release"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "health",
                "top"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:05:34",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:40",
              "image_url": "https://th-i.thgim.com/public/incoming/tanzei/article70695127.ece/alternates/LANDSCAPE_1200/Manipal_Liver_transplant.jpg",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": true
            },
            {
              "article_id": "21c7fe885098240cb2b0047ce78c25aa",
              "link": "https://www.thehindu.com/brandhub/pr-release/understanding-chinas-whole-process-peoples-democracy/article70694305.ece",
              "title": "Understanding China’s whole-process people’s democracy",
              "description": "Understanding China’s whole-process people’s democracy",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "pr release"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "politics",
                "top"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:04:25",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:44",
              "image_url": "https://www.thehindu.com/theme/images/og-image.png",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": true
            },
            {
              "article_id": "dda535897c1fd75e65868c42665b2d2b",
              "link": "https://www.thehindu.com/sport/cricket/pcb-to-impose-financial-penalties-on-pakistan-players-for-t20wc-debacle/article70698043.ece",
              "title": "PCB to impose financial penalties on Pakistan players for T20WC debacle",
              "description": "A reliable source said that appropriate action is being considered by the Pakistan Cricket Board (PCB) in the wake of the team's exit from the Super Eight stage of the event",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "cricket"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "sports"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:03:16",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:43",
              "image_url": "https://www.thehindu.com/theme/images/th-online/1x1_spacer.png",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": true
            },
            {
              "article_id": "1e2d2869cb2da0af6e77be80286b97fc",
              "link": "https://www.thehindu.com/sport/football/real-madrid-loses-to-getafe-misses-chance-to-close-gap-on-la-liga-leader-barcelona/article70698042.ece",
              "title": "Real Madrid loses to Getafe, misses chance to close gap on La Liga leader Barcelona",
              "description": "Martin Satriano scored a stunning volley in a 1-0 win at the Bernebeu; Barcelona remains 4 points ahead of Madrid",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "football"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "sports"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 05:01:04",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:34:42",
              "image_url": "https://th-i.thgim.com/public/incoming/sk3d9k/article70698044.ece/alternates/LANDSCAPE_1200/Spain_La_Liga_Soccer_66251.jpg",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": false
            },
            {
              "article_id": "d85d97b3a4f209ca57da865c833a2d29",
              "link": "https://www.thehindu.com/news/national/protests-against-khamenei-killing-curbs-remain-in-force-in-kashmir/article70698018.ece",
              "title": "Protests against Khamenei's killing: Curbs remain in force in Kashmir",
              "description": "At least 14 people, including six security personnel, were injured during protests on Monday (March 2, 2026) that erupted in Jammu and Kashmir following the killing of Khamenei",
              "content": "ONLY AVAILABLE IN PAID PLANS",
              "keywords": [
                "india"
              ],
              "creator": [
                "authors & contributors"
              ],
              "language": "english",
              "country": [
                "india"
              ],
              "category": [
                "top",
                "crime"
              ],
              "datatype": "news",
              "pubDate": "2026-03-03 04:58:47",
              "pubDateTZ": "UTC",
              "fetched_at": "2026-03-03 05:03:48",
              "image_url": "https://th-i.thgim.com/public/incoming/iibkd6/article70698034.ece/alternates/LANDSCAPE_1200/25-RESTRICTIONS-SGR-03-03-2026.JPG",
              "video_url": null,
              "source_id": "thehindu",
              "source_name": "The Hindu",
              "source_priority": 2972,
              "source_url": "https://www.thehindu.com",
              "source_icon": "https://n.bytvi.com/thehindu.png",
              "sentiment": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "sentiment_stats": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_tag": "ONLY AVAILABLE IN PROFESSIONAL AND CORPORATE PLANS",
              "ai_region": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_org": "ONLY AVAILABLE IN CORPORATE PLANS",
              "ai_summary": "ONLY AVAILABLE IN PAID PLANS",
              "duplicate": false
            }
          ],
          "nextPage": "1772513927721294906"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "422e6dde-3c84-4b11-bc02-2447b078933a",
  "activeVersionId": "422e6dde-3c84-4b11-bc02-2447b078933a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T15:06:00.766Z",
      "createdAt": "2026-03-03T15:06:00.766Z",
      "role": "workflow:owner",
      "workflowId": "XWAa0eFoZoeXWJeQ",
      "projectId": "a2ue7y8O1L291ku7"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T19:18:02.000Z",
    "createdAt": "2026-03-03T18:54:12.119Z",
    "versionId": "422e6dde-3c84-4b11-bc02-2447b078933a",
    "workflowId": "XWAa0eFoZoeXWJeQ",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -112,
          0
        ],
        "id": "8340714f-d7b4-4bd7-ba51-1ab736c21eb1",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://newsdata.io/api/1/latest",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "country",
                "value": "in"
              },
              {
                "name": "domainurl",
                "value": "thehindu.com"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          96,
          0
        ],
        "id": "20324a1a-4b17-4ec1-a4a3-28a2f9c4ce79",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fnK2iv08gQSxkB9W",
            "name": "NEWSDATA"
          },
          "httpQueryAuth": {
            "id": "ekvko4cS48UQSsRV",
            "name": "Query Auth account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a new ai agent, use these articles to summarize the news in a clear and consize was: {{ $json.results }}",
          "options": {
            "systemMessage": "# DEFINITION\nYou are a news chatbot. Your task is to summarize the news as accurately and as clearly as possible\n\n# BEHAVIOUR\nSummarize the different articales of news and generate a strucutred message to pass on to a telegram chat. Make it as meaningful as possible\nMake sure to give the article links when you can. Also since it is a telegram message, don't use any markdown syntax",
            "batching": {
              "batchSize": 4
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          624,
          0
        ],
        "id": "ffb245d8-df4a-4b77-8d55-f9e8ac1de30a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          560,
          192
        ],
        "id": "5dda98f5-8739-4980-baf9-b50631a992bd",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "2SwqjAvqX3tREXdu",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e4aec471-201c-44d2-955c-ef27f472cd74",
                "name": "results",
                "value": "={{ $json.results }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          0
        ],
        "id": "34486ab9-fcb2-4547-b5cd-c664011ce7e1",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "content": "## Getting the data and processing",
          "height": 480,
          "width": 608
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          -112
        ],
        "typeVersion": 1,
        "id": "731466db-7240-4ebd-99ba-598f8d4f6627",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Text generation",
          "height": 480,
          "width": 432,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          464,
          -112
        ],
        "typeVersion": 1,
        "id": "ce2403d4-3d7c-4dff-9217-d395bb6df728",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Post data in chat",
          "height": 480,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          912,
          -112
        ],
        "typeVersion": 1,
        "id": "f4008117-d5b9-4985-b663-4e2a6df0fb0d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "chatId": "5641924507",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          976,
          0
        ],
        "id": "4410a569-d3cf-4270-bb65-caf74ac0235d",
        "name": "Send a text message",
        "webhookId": "09d63b33-91c3-42c5-bd99-6dd0d3444a7b",
        "credentials": {
          "telegramApi": {
            "id": "NqZGivE9hgenWLSy",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Manjot Singh",
    "name": "Version 422e6dde",
    "description": "",
    "autosaved": true
  },
  "tags": []
}