news-chatbot-.json
{
  "updatedAt": "2026-03-07T13:50:53.010Z",
  "createdAt": "2026-03-03T15:06:00.764Z",
  "id": "XWAa0eFoZoeXWJeQ",
  "name": "News Chatbot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "8340714f-d7b4-4bd7-ba51-1ab736c21eb1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/latest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "country",
              "value": "in"
            },
            {
              "name": "domainurl",
              "value": "thehindu.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        0
      ],
      "id": "20324a1a-4b17-4ec1-a4a3-28a2f9c4ce79",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnK2iv08gQSxkB9W",
          "name": "NEWSDATA"
        },
        "httpQueryAuth": {
          "id": "ekvko4cS48UQSsRV",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a new ai agent, use these articles to summarize the news in a clear and consize was: {{ $json.results }}",
        "options": {
          "systemMessage": "# DEFINITION\nYou are a news chatbot. Your task is to summarize the news as accurately and as clearly as possible\n\n# BEHAVIOUR\nSummarize the different articales of news and generate a strucutred message to pass on to a telegram chat. Make it as meaningful as possible\nMake sure to give the article links when you can. Also since it is a telegram message, don't use any markdown syntax",
          "batching": {
            "batchSize": 4
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "ffb245d8-df4a-4b77-8d55-f9e8ac1de30a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "5dda98f5-8739-4980-baf9-b50631a992bd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2SwqjAvqX3tREXdu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4aec471-201c-44d2-955c-ef27f472cd74",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "34486ab9-fcb2-4547-b5cd-c664011ce7e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Getting the data and processing",
        "height": 480,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -112
      ],
      "typeVersion": 1,
      "id": "731466db-7240-4ebd-99ba-598f8d4f6627",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Text generation",
        "height": 480,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -112
      ],
      "typeVersion": 1,
      "id": "ce2403d4-3d7c-4dff-9217-d395bb6df728",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Post data in chat",
        "height": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        -112
      ],
      "typeVersion": 1,
      "id": "f4008117-d5b9-4985-b663-4e2a6df0fb0d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "5641924507",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "4410a569-d3cf-4270-bb65-caf74ac0235d",
      "name": "Send a text message",
      "webhookId": "09d63b33-91c3-42c5-bd99-6dd0d3444a7b",
      "credentials": {
        "telegramApi": {
          "id": "NqZGivE9hgenWLSy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "5641924507",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        192
      ],
      "id": "7680a77d-25f1-4203-bc15-6116bac8be96",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "02b9b559-f273-4b2c-9678-fe3d354ba92e",
  "activeVersionId": "f44437e0-1a0f-4abf-961c-e77fbfea8fd5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T15:06:00.766Z",
      "createdAt": "2026-03-03T15:06:00.766Z",
      "role": "workflow:owner",
      "workflowId": "XWAa0eFoZoeXWJeQ",
      "projectId": "a2ue7y8O1L291ku7"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-04T19:48:55.000Z",
    "createdAt": "2026-03-04T19:48:10.171Z",
    "versionId": "f44437e0-1a0f-4abf-961c-e77fbfea8fd5",
    "workflowId": "XWAa0eFoZoeXWJeQ",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -112,
          0
        ],
        "id": "8340714f-d7b4-4bd7-ba51-1ab736c21eb1",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://newsdata.io/api/1/latest",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "country",
                "value": "in"
              },
              {
                "name": "domainurl",
                "value": "thehindu.com"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          96,
          0
        ],
        "id": "20324a1a-4b17-4ec1-a4a3-28a2f9c4ce79",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "fnK2iv08gQSxkB9W",
            "name": "NEWSDATA"
          },
          "httpQueryAuth": {
            "id": "ekvko4cS48UQSsRV",
            "name": "Query Auth account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a new ai agent, use these articles to summarize the news in a clear and consize was: {{ $json.results }}",
          "options": {
            "systemMessage": "# DEFINITION\nYou are a news chatbot. Your task is to summarize the news as accurately and as clearly as possible\n\n# BEHAVIOUR\nSummarize the different articales of news and generate a strucutred message to pass on to a telegram chat. Make it as meaningful as possible\nMake sure to give the article links when you can. Also since it is a telegram message, don't use any markdown syntax",
            "batching": {
              "batchSize": 4
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          624,
          0
        ],
        "id": "ffb245d8-df4a-4b77-8d55-f9e8ac1de30a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          560,
          192
        ],
        "id": "5dda98f5-8739-4980-baf9-b50631a992bd",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "2SwqjAvqX3tREXdu",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e4aec471-201c-44d2-955c-ef27f472cd74",
                "name": "results",
                "value": "={{ $json.results }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          0
        ],
        "id": "34486ab9-fcb2-4547-b5cd-c664011ce7e1",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "content": "## Getting the data and processing",
          "height": 480,
          "width": 608
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          -112
        ],
        "typeVersion": 1,
        "id": "731466db-7240-4ebd-99ba-598f8d4f6627",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Text generation",
          "height": 480,
          "width": 432,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          464,
          -112
        ],
        "typeVersion": 1,
        "id": "ce2403d4-3d7c-4dff-9217-d395bb6df728",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Post data in chat",
          "height": 480,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          912,
          -112
        ],
        "typeVersion": 1,
        "id": "f4008117-d5b9-4985-b663-4e2a6df0fb0d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "chatId": "5641924507",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          976,
          0
        ],
        "id": "4410a569-d3cf-4270-bb65-caf74ac0235d",
        "name": "Send a text message",
        "webhookId": "09d63b33-91c3-42c5-bd99-6dd0d3444a7b",
        "credentials": {
          "telegramApi": {
            "id": "NqZGivE9hgenWLSy",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "5641924507",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          688,
          256
        ],
        "id": "7680a77d-25f1-4203-bc15-6116bac8be96",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Manjot Singh",
    "name": "Version f44437e0",
    "description": "",
    "autosaved": true
  },
  "tags": []
}